<header id="main-header">
  <div id="logo">
    <a href="/">MUSIC</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">All QNA</a>
      </li>
      <li>
        <a href="/new-post">Create QNA</a>
      </li>
      <li>
        <a href="/show-music">Music List</a>
      </li>
      <li>
        <a href="/create-playlist">create-playlist</a>
      </li>
      <li>
        <a href="/my-playlist">my-playlist</a>
      </li>
    </ul>
  </nav>
</header>